<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rkarthic.myfirstapp">

    <uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".Menu" android:theme="@android:style/Theme.Black">
            <intent-filter>
                <action android:name="com.example.rkarthic.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".TextPlay">
            <intent-filter>
                <action android:name="com.example.rkarthic.TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Email"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.rkarthic.EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Camera" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.rkarthic.CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Data">
            <intent-filter>
                <action android:name="com.example.rkarthic.DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".OpenedClass"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.rkarthic.OPENEDCLASS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutUs"
            android:label="About Us"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.example.rkarthic.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Prefs">
            <intent-filter>
                <action android:name="com.example.rkarthic.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>


</manifest>